* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navigation {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo-link img {
  width: 50px;
  border-radius: 100%;
}

.other-links {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
  align-items: center;
  justify-content: flex-end; /* Justificar a la derecha en pantallas grandes */
  width: auto;
}

.principal-links,
.social-links {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center; /* Centramos los enlaces dentro de las listas */
}

.principal-links {
  margin-right: 20px; /* Separación entre los enlaces principales y los de redes sociales */
  border-right: 1px solid #ccc; /* Borde derecho para los enlaces principales */
  padding-right: 20px; /* Espacio para el borde */
}

.principal-links li,
.social-links li {
  margin: 10px 20px; /* Ajustamos el margen para separar los elementos */
}

.principal-links a,
.social-links a {
  text-decoration: none;
  color: #ddd;
  display: flex;
  align-items: center;
  transition: color 0.2s ease-in-out;
}

.principal-links a:hover,
.social-links a:hover {
  color: #0073e6;
}

.principal-links i,
.social-links i {
  margin-left: 5px;
}

/*! HERO */

.hero {
  width: 100%;
  height: 90vh;
  min-height: 400px;
  position: relative;
  overflow: hidden;
}

.particle {
  position: absolute;
  background-color: #00ff00;
  border-radius: 50%;
  pointer-events: none;
  animation: rise linear infinite;
}

.hero video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  z-index: -1;
}

.hero .container-hero {
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(22, 22, 22, 0.6));
  height: 100%;
  position: relative;
  z-index: 1;
}

.container-hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  color: #e7e7e7;
  text-align: center;
}

.welcome-hero {
  font-weight: 800;
  font-size: 6rem;
  letter-spacing: -4px;
}

.welcome-hero::after {
  content: "|";
  animation: blink-caret 0.75s step-end infinite;
  font-weight: 200;
}

.another-text-hero {
  font-weight: 300;
  font-size: 1.5rem;
  padding: 15px;
}

.another-text-hero b {
  font-weight: 600;
}

.abt-hero {
  padding: 20px;
  font-size: 1.15rem;
}

/*! ARTICLES */

.articles {
  background-color: rgb(22, 22, 22);
  font-size: 1.2rem;
}

.article-1 {
  color: #e7e7e7;
  padding: 10px;
}

.title {
  font-size: 4.5rem;
  text-align: center;
  font-weight: 700;
  color: #00f000;
  text-shadow: 0 1px 0 #00ff00, 0 2px 0 #00ff00, 0 3px 0 #00ff00,
    0 4px 0 #00ff00, 0 5px 0 #00ff00, 0 6px 1px rgba(0, 255, 0, 0.1),
    0 0 5px rgba(0, 255, 0, 0.1), 0 1px 3px rgba(0, 255, 0, 0.3),
    0 3px 5px rgba(0, 255, 0, 0.2), 0 5px 10px rgba(0, 255, 0, 0.25),
    0 10px 10px rgba(0, 255, 0, 0.2), 0 20px 20px rgba(0, 255, 0, 0.15);
}

.title-1 {
  padding: 20px;
}

.article-1 hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0),
    #00f000,
    rgba(255, 255, 255, 0)
  );
  margin: 0 10px;
}

.text-and-image {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.text-abt-me {
  flex-grow: 1;
  max-width: 500px;
  padding: 20px;
}

.text-and-image img {
  width: 100%;
  max-width: 500px;
}

.title-2 {
  padding: 20px;
}

/*! MEDIA QUERIES */

@media (max-width: 768px) {
  .navigation {
    justify-content: center;
  }

  .other-links {
    justify-content: center; /* Centrar enlaces en pantallas pequeñas */
    width: 100%; /* Asegurar que ocupe todo el ancho en pantallas pequeñas */
  }

  .principal-links {
    margin-right: 10px; /* Menor separación en pantallas más pequeñas */
    padding-right: 10px;
  }

  .principal-links li,
  .social-links li {
    margin: 10px; /* Ajustamos el margen en pantallas más pequeñas */
  }
}

/*! ANIMATIONS */

@keyframes rise {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-50vh) scale(0);
    opacity: 0;
  }
}

@keyframes blink-caret {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
